@font-face {
   font-family: 'Futura';
   src:         url('fonts/EvalionFutura-Regular.woff2') format('woff');
   font-style:  normal;
   font-weight: normal;
}

@font-face {
  font-family: 'Futura';
  src:         url('fonts/EvalionFutura-Italic.woff') format('woff');
  font-style:  italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Futura';
  src:         url('fonts/EvalionFutura-Bold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

@font-face {
   font-family: 'Open Sans';
   src:         local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
                url('fonts/open_sans_semibold_v17_latin_600.woff2') format('woff2'),
                url('fonts/open_sans_semibold_v17_latin_600.woff') format('woff');
   font-style:  normal;
   font-weight: 600;
}
@font-face {
   font-family: 'Open Sans';
   src:         local('Open Sans Bold'), local('OpenSans-Bold'),
                url('fonts/open_sans_bold_v17_latin_700.woff2') format('woff2'),
                url('fonts/open_sans_bold_v17_latin_700.woff') format('woff');
   font-style:  normal;
   font-weight: 700;
}
@font-face {
   font-family: 'Open Sans';
   src:         local('Open Sans Regular'), local('OpenSans-Regular'),
                url('fonts/open_sans_regular_v17_latin_400.woff2') format('woff2'),
                url('fonts/open_sans_regular_v17_latin_400.woff') format('woff');
   font-style:  normal;
   font-weight: 400;
}
@font-face {
   font-family: 'Open Sans';
   src:         local('Open Sans Light'), local('OpenSans-Light'),
                url('fonts/open_sans_light_v17_latin_300.woff2') format('woff2'),
                url('fonts/open_sans_light_v17_latin_300.woff') format('woff');
   font-style:  normal;
   font-weight: 300;
}
@font-face {
   font-family: 'Open Sans';
   src:         local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
                url('fonts/open_sans_extrabold_v17_latin_800.woff2') format('woff2'),
                url('fonts/open_sans_extrabold_v17_latin_800.woff') format('woff');
   font-style:  normal;
   font-weight: 800;
}
