@media (max-width: 899px){

    body{
        --decorative-border: 2px solid black;
        --heading-border-padding: 10px;
        /* this also has the width of the border built in */
        --heading-border-padding-neg: -12px;
        --decorative-border-width-neg: -2px;

    }

    .desktop{
      display: none;
    }

    .mobile{
      display: block;
    }

    header{
        flex-direction: column-reverse;
    }

    header .menuWorkforce{
        width: 100%;
        height: 37vh;
        min-height: 300px;
        position: relative;
        background-image: none;
        flex-direction: row;
        align-content: flex-start;
    }

    header .menuWorkforce::after{
        content:"";
        position: absolute;
        border-bottom: var(--decorative-border);
        right: 0;
        left: max( 33vw, 120px);
        bottom: 0;
    }

    /* header .topic#heroImage{
      max-height: 20vw;
    } */

    .verticalBorderTicks{
        height: 100%;
    }

    .verticalBorderTicks::before,
    .verticalBorderTicks::after{
        content: "";
        display: block;
        height: 15%;
        border-left: var(--decorative-border);
    }

    .verticalBorderTicks::after{
        position: absolute;
        bottom: 0;
    }

    .menuWorkforce h1{
        position: static;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        transform: rotate(180deg);
        margin: 0;
        margin-left: 0.85em;
        margin-bottom: 0.2em;
        font-size: 3em;
    }

    .menuWorkforce h1{
        transition: opacity 500ms;
    }

    header:not(.openMenu) .menuWorkforce h1{
        transition-delay: 500ms;
    }

    .openMenu .menuWorkforce h1{
        opacity: 0;
    }

    .openMenu .learnMoreCell h1{
        display: block;
    }

    .menuCell{
        --menu-top: 4vh;
        width: 58vw;
        justify-content: flex-end;
    }

    .menuCell h3{
        padding-right: 0;
        padding-bottom: var(--menu-top);
        /* margin-left: 13vw; */
    }

    .menuCell menu{
        padding-top: calc(var(--menu-top) - 4px);
        align-self: initial;
        margin-right: 11vw;
        width: 6.5em;
    }

    #wheretofindus{
        bottom: 10px;
        font-size: 0.6em;
    }

    #logo{
        position: absolute;
        left: 0;
        bottom: 0;
        margin-bottom: 8px;
        margin-left: 10px;
        width: 100px;
        padding:0;
    }

    .heroLearnMore{
        flex-direction: row;
    }

    .learnMoreCell{
        align-self: initial;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

    .learnMoreCell>div{
        position: static;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        transform: rotate(180deg);
        margin-top: 0.8em;
        margin-left: 1em;
    }

    .learnMoreCell h2{
        font-size: 2em;
    }

    #heroImage{
        max-height: none;
        width:58vw;
    }

    a.button{
        font-size: 1.3em;
    }

    .learnMoreCell a.button{
        margin-left: 0.5em;
    }

    .learnMoreCell h1 {
        padding: 4vw 0 1vw 0;
        font-size: 3em;
    }

    #virtualSolutions .learnMoreCell h1 {
        padding: 2vw 0 2vw 0;
        font-size: 3em;
    }

    .menuCell > menu nav{
        max-width: 60vw;
    }

    .articleTopic ul{
      font-size: 1.4em;
    }

    #thirdstepmenu{
      margin-right: 4vw;
    }

    .articleTopic img{
      margin-top: 40px;
      margin-bottom: 25px;
      align-self: start;
    }

    .reverse img{
      align-self: end;
    }

    /* the following media queries (up to line 262) MOSTLY regard the
    hero image of the virtualSolutions.html. The size of the image changes to align its bottom edge to the h2. They include a couple of more rules,
    basicaly beacuse i didn't want to create multiple media with the same
    px span. */

    @media (min-width: 860px) and (max-width: 899px){
      header .topic#heroImage{
        max-height: 23vw;
      }
    }

    @media (min-width: 800px) and (max-width: 859px){
      header .topic#heroImage{
        max-height: 25vw;
      }
    }

    @media (min-width: 740px) and (max-width: 799px){
      header .topic#heroImage{
        max-height: 27vw;
      }
      .articleTopic ul > li{
        max-width: 430px;
      }
    }

    @media (min-width: 670px) and (max-width: 739px){
      header .topic#heroImage{
        max-height: 30vw;
      }
    }

    @media (min-width: 640px) and (max-width: 669px){
      header .topic#heroImage{
        max-height: 33vw;
      }
    }

    @media (min-width: 590px) and (max-width: 640px){
      header .topic#heroImage{
        max-height: 35vw;
      }
    }

    @media (min-width: 520px) and (max-width: 589px){
      header .topic#heroImage{
        max-height: 38vw;
      }
    }

    @media (min-width: 480px) and (max-width: 519px){
      header .topic#heroImage{
        max-height: 40vw;
      }
    }

    @media (min-width: 460px) and (max-width: 479px){
      header .topic#heroImage{
        max-height: 43vw;
      }
    }

    @media (min-width: 350px) and (max-width: 459px){
      header .topic#heroImage{
        max-height: 55vw;
      }
    }

    @media (min-width: 320px) and (max-width: 349px){
      header .topic#heroImage{
        max-height: 60vw;
      }
    }

    @media (max-width: 549px){
        .menuCell > menu nav{
            font-size: 90%;
        }
    }
    @media (max-width: 360px){
        .menuCell > menu nav{
            font-size: 80%;
        }
    }

    @media (min-width: 550px){
      .navItemBreak{
        display: none;
      }
    }



    body > .column, body > .row{
        width: auto;
        margin: 0;
    }

    body > article.articleTopic {
        margin-bottom: 80px;
    }

    .whoweare{
        margin-top: 0;
        height: 90px;
    }

    .whoweare h2{
        padding: var(--heading-border-padding) 14px  var(--heading-border-padding) 20px;
        font-size: 2em;
    }

    .whoweare h3{
        font-size: 1.2em;
        padding: var(--heading-border-padding) calc( var(--heading-border-padding) + 4px);
        width: calc(57vw - 81.5px);
        max-width: 210px;
        box-sizing: border-box;
    }

    .whoweare h3::before{
        width: 0;
    }

    .whoweare h3.inView::before{
        right: auto;
        width: calc(47vw - 81px + var(--decorative-border-width-neg)) !important
    }

    .badges > img{
        width: 70px;
        height: 70px;
        padding: 0;
        margin-right: 15px;
        margin-top: 15px;
    }

    .whoweare .underline{
        display: none;
    }

    p{
        font-size: 1.2em;
    }

    .shltext{
        /* margin: 30px 0; */
        margin-left: 10px;
        margin-right: 10px;
    }

    @media (min-width: 501px) and (max-width: 750px){
      .articleTopic > .column > img{
        width: calc(100% - 24px);
      }
    }

    @media (min-width: 360px) and (max-width: 500px){
      body .articleTopic{
        padding: 0;
      }
      .articleTopic:nth-child(even){
          padding: 0;
      }
      #virtualSolutions p, #virtualSolutions h2, #virtualSolutions h3{
          margin-left: 20px;
          margin-right: 20px;
          text-align: left;
      }
      #virtualSolutions .learnMoreCell h2{
          margin-left: 0;
          margin-right: 0;
      }
      .reverse .column{
        align-items: flex-start;
      }
      .articleTopic img{
          max-width: 100%;
          align-self: center;
        }
      .articleTopic:nth-child(2n) img {
          max-width: 100%;
          align-self: center;
        }
        .articleTopic ul>li{
          padding-left: 100px;
        }
        .articleTopic ul>li::before{
          margin-left: -120px;
          width: 110px;
        }
    }

    @media (max-width:400px){
        .badges img{
            width: 60px;
            height: 60px;
            padding: 0;
            margin-right: 8px;
            margin-top: 8px;
        }
        .whoweare{
            height: 120px;
        }
        .whoweare h3{
            max-width: none;
            width: auto;
        }
        .whoweare h2{
            height: 60px;
        }
        .badges{
            display: flex;
            flex-direction: column;
        }
    }

    .testimonial.row{
        flex-direction: column-reverse;
    }

    .whoourclientsare{
        width: 100vw;
        box-sizing: border-box;
        padding-left: 20px;
        margin-bottom: 4em;
        padding-top: 80px;
        justify-content: end;
    }

    .whoourclientsare h2{
        font-size: 2em;
        flex: 2;
        padding: var(--heading-border-padding);
        max-width: 5em;
    }

    #logoGrid{
        padding-right: 10px;
        flex: 5;
        gap: 20px;
        max-width: 400px;
    }

    #logoGrid>div{
        padding: 6%;
    }

    .testimonial.column{
        padding-right: 20px;
        max-width: 450px;
    }

    #index article{
        padding: 0 20px;
    }

    #index article .right div {
        font-size: 1.3em;
    }

    #virtualSolutions{

    }

    #contact .heroLearnMore::before{
        top: 60%;
        border: 0 none;
        border-left: 2px solid black;
        top:0;
        left: 58%;
        bottom: 60%;
    }

    #contact .heroLearnMore .address{
        left: 60%;
        bottom: 60%;
        top: auto;
        right: auto;
    }

}


@media (max-width: 359px){
    .menuCell{
        width: 50vw;
    }
    .menuCell h3{
        display: none;
    }
    #heroImage{
        width: 50vw
    }
    #contact .heroLearnMore::before{
        display: none;
    }
    body .articleTopic{
      padding: 0;
    }
    .articleTopic:nth-child(even){
        padding: 0;
    }
    #virtualSolutions p, #virtualSolutions h2, #virtualSolutions h3{
        margin-left: 20px;
        margin-right: 20px;
        text-align: left;
    }
    #virtualSolutions .learnMoreCell h2{
        margin-left: 0;
        margin-right: 0;
    }
    .reverse .column{
      align-items: flex-start;
    }
    /* .articleTopic img{
        max-width: 100%;
        align-self: center;
      } */
    /* .articleTopic:nth-child(2n) img {
        max-width: 100%;
        align-self: center;
      }       */
}

@media (max-width: 1000px){
  .badges > img{
    padding-right: 5px;
  }
}
