/* general rules */
/* *{outline: 1px solid blue} */

html>body>p{
  font-family: 'Open Sans';
  font-size: 30px;
}

body{
  margin: 0;
  /* overflow-x: hidden; */
  font-family: 'Futura';
  font-size: 12px;
  --huge-screen-size: 2000px;
  --decorative-border: 4px solid black;
  --palette-yellow: #f4b828;
  --palette-red: #d95146;
  --palette-green: #00768a;
  --palette-teal: #d3e9e9;
  --heading-border-padding: 20px;
  /* this also has the width of the border built in */
  --heading-border-padding-neg: -24px;
  --decorative-border-width-neg: -4px;
}

body p{
  font-family: 'Open Sans';
  font-size: 18px;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: normal;
}

h2{
  font-size: 3.1em;
}

h3{
  font-size: 1.5em;
}

h5{
  font-size: 1.5em;
}

.cluster h2{
  font-size: 3.6em;
  line-height: 0.8em;
}

a{
  color: inherit;
  text-decoration: none;
}

.column{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
}

.spacer{
  flex: 1;
}

/* this is the grid for the whole body */
.grid{
  display: grid;
  grid-template-rows: max-content repeat(5, max-content);
  padding-bottom: 40px;
}

.desktop{
  display: block;
}

.mobile{
  display: none;
}

.underline{
  text-decoration: underline;
}

/* FIRST ROW OF THE GRID */


/* General rules for the header.
I have divided the header into two parts, the left that includes the heroImage and the right, with the menu, the logo etc. These two divs use flexbox and column display. Everything within those divs is a flexbox too, with row display.*/
header{
  display: flex;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

header>div{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#heroImage{
  max-height: 30vw;
  object-fit: cover;
  object-position: 50% 70%;
}

/* These are the rules that apply to the right div. Note to self: the display is column. In there i included div that uses flexbox (display:row), the logo, the menu etc. */
header .menuWorkforce{
  background-color: var(--palette-teal);
  background-image: url("symbols/aboveFoldbgL.svg"), url("symbols/aboveFoldbgR.svg");
  background-position: 0 4px, right 4px;
  background-size: auto 208%, auto 208%;
  background-repeat: no-repeat;
  height: 50vw;
  width: 46vw;
  position: relative;
  transition: width 400ms ease-in-out;
}

@media(min-width: 900px){
  header.openMenu .menuWorkforce{
    width: 60vw;
  }
  .menuWorkforce .menuCell > h3{
    padding-right: 0;
  }
  body .articleTopic .reverse{
      padding-right: 24px;
  }
}

#test{
  background: url('drawing.svg#rect833');
  width: 400px;
  height: 500px;
  background-position: 0 -300px;
}

body>.column,
body>.row{
  max-width: var(--huge-screen-size);
  width: 92.5vw;
  margin: 0 auto;
}

#logo{
    width: 8.5vw;
    padding: 1vw 8vw 0 1vw;
    align-self: flex-start;
}

.menuCell>h3{
  align-self: flex-start;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
  padding-bottom: 3.4vw;
  padding-right: 7vw;
  font-weight: bold;
  font-size: 2em;
  margin: 0 10px 0 0;
}

.menuCell>menu{
    padding: 3vw 1vw 0 0;
    align-self: flex-end;
    font-size: 1.3em;
    margin: 0;
}

menu li{
  list-style-type: none;
  padding: 0;
}

.menuCell>menu nav{
  text-align: right;
  position: absolute;
  margin-top: -1.4em;
  right: 4vw;
  padding-right: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease-in-out;
  color: var(--palette-green);
}

.openMenu .menuCell .active nav{
  pointer-events: all;
  opacity: 1;
}

menu a{
  display: block;
}

menu .active>a{
  font-weight: bold;
}

.heroLearnMore{
  flex: 1;
}

#d, #x{
    position: absolute;
    right: 4vw;
    align-self: flex-start;
    padding-top: 1vw;
    font-size: 2.2em;
    transition: opacity 200ms ease-in-out;
}

#x{
  opacity: 0;
  pointer-events: none;
}

.openMenu #x{
  opacity: 1;
  cursor: pointer;
  pointer-events: all;
}

.openMenu #d{
  opacity: 0;
}

.menuWorkforce>h1,
.learnMoreCell>h1{
    font-size: 7em;
}

.menuWorkforce>h1{
    position: absolute;
    margin: 34.5vw 0 0 3vw;
}

/* These are the rules that apply to the left div. Note to self: the flexbox display is column. */
.learnMoreCell{
    padding-right: 6vw;
    align-self: flex-end;
}

.learnMoreCell h1{
  display: none;
}

.learnMoreCell h2{
    padding: 4vw 0 1vw 0;
}

a.button{
     border: none;
     background-color: #333333ff;
     color: white;
     padding: 6px 40px 6px 12px;
     text-align: left;
     text-decoration: none;
     display: inline-block;
     font-size: 2em;
     margin: none;
}

@media (min-width: 2000px){
  .learnMoreCell h2{
    display: inline-block;
  }
  .learnMoreCell h1{
    display: inline-block;
    margin-left: 10px;
  }
  .learnMoreCell>a{
    display: block;
    width: max-content;
  }
  .menuWorkforce>h1{
    display: none;
  }
}

#wheretofindus{
    margin: 0;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 11px;
}

/* SECOND ROW OF THE GRID */
/* These are the rules for the second grid line. The row uses flexbox column to position its items. */

/* The first div uses flexbox row to position h2, h3 and the SHL badges. */
.whoweare{
  /* justify-content: center; */
  margin-top: 130px;
  background-size: 100%;
  height: 160px;
  align-content: flex-start;
  max-width: var(--huge-screen-size);
  box-sizing: border-box;
}

.whoweare>h2{
  border-right: var(--decorative-border);
  border-top: var(--decorative-border);
  color: var(--palette-green);
  padding: 20px 24px 20px 90px;
  text-align: right;
}

.whoweare>h3{
  border-top: var(--decorative-border);
  margin: 0;
  max-width: 200px;
  padding: 20px 20px 20px 30px;
}

.badges>img{
  object-fit: contain;
  flex: 0;
  height: 150px;
  width: 150px;
  padding: 15px 50px 15px 0;
}

.underline{
  margin-left: 60px;
  flex: 1.5;
  border-bottom: var(--decorative-border);
}

/* Then i created a second row (within my flexbox column) to position the paragraph on the right of the page. */
.shltext{
  max-width: 700px;
  text-align: right;
  margin-right: 30px;
}

/* THIRD ROW OF THE GRID */

.testimonial h5{
  padding-top: 30px;
  max-width: 60%;
  border-bottom: var(--decorative-border);
  text-align: right;
}

.testimonial>.quote:first-of-type{
  padding-left: 30px;
  align-self: flex-start;
}
.testimonial>.quote{
  align-self: flex-end;
  /* padding-right: 10px; */
}

.testimonialText{
  max-width: 400px;
  padding: 0 0 0 30px;
  font-style: italic;
}

.whoourclientsare{
  padding-top: 120px;
  width: 55%;
}

.whoourclientsare>h2{
  border-top: var(--decorative-border);
  border-left: var(--decorative-border);
  padding: var(--heading-border-padding) 24px;
  color: var(--palette-yellow);
  min-width: 4.5em;
}

#logoGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  padding-right: 30px;
  padding-top: 20px;
  width: 70%;
  position: relative;
  max-height: 349px;
  box-sizing: border-box;
}

#logoGrid::before{
  content: "";
  border-top: var(--decorative-border);
  position: absolute;
  right: 0;
  left: 70%;
  top: var(--decorative-border-width-neg);
  /* margin-right: var(--heading-border-padding-neg); */
}

#logoGrid div{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13% 0;
}

#logoGrid div.hasText{
  cursor: pointer;
}

#logoGrid img{
  max-width: 100px;
  max-height: 60px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#logoGrid .clickable{
  cursor: pointer;
}

#logoGrid .active{
  background-color: var(--palette-yellow);
}

.center.cluster{
  position: relative;
  width: auto;
  max-width: none;
  margin-top: 80px;
  border-top: var(--decorative-border);
}

/* if you want the top border to take, say 80% of the width of the
div, uncomment the following ruleset and set left and right accordingly */
/* .center.cluster::before{
  content: "";
  border-top: var(--decorative-border);
  position: absolute;
  left: 10%;
  right: 10%;
} */

.center.cluster>h2{
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: right;
  padding-bottom: 20px;
  box-sizing: border-box;
  border-left: var(--decorative-border);
}

.center.cluster>h3{
  padding: 20px 40px;
  font-size: 2.1em;
  font-weight: bold;
  align-self: center;
  max-width: 65%;
}

.news h2{
  color: #d95146;
}

article{
  max-width: 600px;
  margin: 0 auto;
}

article h3{
  font-size: 1.6em;
  font-weight: bold;
}

#index article{
  text-align: center;
}

#index article .right{
  text-align: right;
}

#index article .right div{
  font-size: 1.7em;
}

#index article .right a:not(.button){
  text-decoration: underline;
}

.right{
  float: right;
}

@media (min-width: 900px) and (max-width: 1200px){
  .learnMoreCell h1, h2, a{
    margin-left: 10px;
  }
}

@media (min-width: 900px) and (max-width: 1070px){
  .learnMoreCell h2{
    font-size: 2.5em;
  }
}

#contact #heroImage{
  background-color: #b9dddD;
  width: 100%;
  height: 50vw;
  object-fit: cover;
  max-height: none;
}
#contact .heroLearnMore{
  position: relative;
}

#contact .heroLearnMore::before{
  content: "";
  position: absolute;
  top: 60%;
  border-top: 2px solid black;
  right:0;
  left: 70%;
  z-index: 1;
}

#contact .heroLearnMore address{
  position: absolute;
  right: 32%;
  top: 60%;
  background-color: #b9dddD;
  font-weight: bold;
  padding: 5px 10px;
  font-style: normal;
}

#contact .heroLearnMore .buttons{
  position: absolute;
  bottom: 10px;
  left: 20px;
}

#contact .heroLearnMore a.button{
  background-color: #b9dddD;
  padding: 7px 12px;
  margin-right: 6px;
  font-size: 14px;
  color: black;
  width: 110px;
}

#contact address.nicosia{
  display: none;
}

.marker {
  background-image: url('symbols/marker.svg');
  /* background-color: var(--palette-teal); */
  background-size: contain;
  width: 30px;
  height: 65px;
  background-repeat: no-repeat;
  /* border-radius: 50%; */
  cursor: pointer;
}

#contact form{
  display: grid;
  max-width: 400px;
}
